* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;   color: #d9dcd6;
}

/*Removed header h1 seo*/

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Deleted .header div ul { list-style-type: none;}*/

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Consolidated all the classes comprising the benefit section into one class. Separated benefit and benefit img due to different attributes.*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Deleted .floatleft and .floatright classes, moving the float left and float right attributes into the classes of the pictures they modify.*/


/* Deleted the benefit h3 classes and used h3 as a selector for the three instances the h3 tag appears*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



/*Condensed classes on seo, online reputation management, and social media marketing into a class called body. 
Used an identifier selector to separate the float right effect from .body img, which had float left.*/
.body {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.body img {
    max-height: 200px; float: left;
    margin-right: 25px;
}

#body2 {
    max-height: 200px;   float: right;
    margin-left: 25px;
}



/* Removed the classes for search engine optimization, online reputation management, and social media marketing, used h2 as the selector*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Changed .footer h2 to h4*/
 h4 {
    font-size: 20px;
}
